@import "../styles/mixins";

.background {
    @include backgroundImage;
}

.containerBtn {
    display: flex;
    padding: 2rem 4rem;
    justify-content: center;
    flex-wrap: wrap;

    a {
        padding: .5rem 4rem;
        margin: 1rem 0;
        background-color: var(--red-100);
        display:block;
        border: none;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5);
        color: var(--white);
        cursor: pointer;

        transition: .3s;

        &:hover {
            filter: brightness(.9);
            box-shadow: inset 6px 6px 6px rgba(0, 0, 0, .5);
        }
    }
}


.title {
    text-align: center;
    color: var(--white);
    font-size:3rem;
    padding: 4rem 2rem 0;
}

.container {
    @include containerCard;
    max-width: 1080px;
    


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

    .link {
        padding: .5rem 2rem;
        text-align: center;
        background-color: var(--red-100);
        border: none;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5);
        color: var(--white);
        cursor: pointer;    
        width: 300px;
        margin: 1rem 2rem;

        transition: .3s;

        &:hover {
            filter: brightness(.9);
            box-shadow: inset 6px 6px 6px rgba(0, 0, 0, .5);
        }
    }